@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/font/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/font/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("/font/Montserrat-ExtraLightItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dancing";
  font-style: regular;
  //   font-weight: 100;
  src: url("/font/DancingScriptOT.woff2") format("woff2");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* TODO: После деплоя настроить Cache-Control: public, max-age=31536000, immutable */

.container {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

img {
  display: block;
  max-inline-size: 100%;
}
