.steps {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #edeff2;
  @media (max-width: 576px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.steps__title {
  @include title__black;
  font-size: clamp(rem(20), 5vw, rem(35));
}
.steps__subtitle {
  @include subtitle__grey;
  font-size: clamp(rem(15), 5vw, rem(18));
}
.steps__title::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 3px;
  background-color: orange;
  margin: 10px 0 10px 0;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  padding: 20px 10px;
  background: rgb(26, 28, 30);
  height: auto !important;
  min-height: 400px;
}

.swiper__number {
  color: white;
}
.swiper__img {
  margin: 0 auto;
}
.swiper__title {
  color: white;
  min-height: 55px;
  display: flex;
  justify-content: center;
}
.swiper__content {
  color: white;
}

.custom-progressbar {
  position: relative;
  margin-bottom: 15px;
  height: 9px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

/* Заполняющая часть */
.custom-progressbar-fill {
  position: absolute;
  height: 100%;
  width: 100px;
  //   background: linear-gradient(90deg, #00f0ff, #a000ff);
  //   background: linear-gradient(90deg, #fd1d1d, #fcb045);
  //   background: linear-gradient(90deg, #c4c4c4, #d8d8d8);
  background: linear-gradient(90deg, #e2e2e2, #a8a8a8);
  border-radius: 6px;
  transform: translateX(0);
  transition: transform 0.4s ease;
}

.container__arrow {
  position: relative;
  margin-top: 20px;
  max-width: 120px;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__arrow::after {
  content: "";
  background-image: url(../img/icon-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 45px;
  height: 24px;
  position: absolute;
}

.container__arrow::before {
  content: "";
  background-image: url(../img/icon-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  width: 45px;
  height: 24px;
  position: absolute;
}
.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
}
.swiper-navigation-icon {
  opacity: 0;
  visibility: hidden;
}
